use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :image_sharing, ImageSharing.Endpoint,
  secret_key_base: "eUvA+JfaJPyqipwuNV/Td/TQK/t9xTB2aEVGO+PtVQHFDCShazH0DCd2G7A8zx49"

# Configure your database
config :image_sharing, ImageSharing.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "nguyenvinhlinh",
  password: "nguyenvinhlinh",
  database: "image_quick_share_dev",
  port: 15432,
  pool_size: 20

# Config the website domain name
config(:image_sharing, ImageSharing.Endpoint,
       domain_name: "http://localhost:4000")

# Config the path which store image on harddrive
config(:image_sharing, :file_store_path, "/home/nguyenvinhlinh/Projects/image_sharing/upload_files")
config(:image_sharing, :app_root_url, "http://localhost:4000")
