<meta property="og:url" content="<%= @url %>"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Hexalink - Image sharing - Photo Clipboard">
<meta property="fb:app_id" content="<%= Application.get_env(:image_sharing, :facebook_app_id) %>"/>
