@import "variable.scss";

section.image-upload{
  width: 100%;
  background-image: $background-image-top-panel;
  .wrap{
    width: 80%;
    padding: 10px;
    margin: 0px auto;
  }
}

section.image-displayer{
  width: 100%;
  background-image: $background-image-top-panel;
  .image-container {
    max-width: 80%;
    padding: 10px 0px;
    margin: 0px auto;
    
    img {
      display: block;
      margin: 0px auto;
      border: 2px solid rgba(0, 0, 0, 0.3);
    }
  }
  .image-information {
    max-width: 80%;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
